---
layout: blog
---

<div class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>
    <p class="meta">
        {{ page.date | date: "%b %-d, %Y" }}
        {% if page.author %} • {{ page.author }}{% endif %}
        {% if page.meta %} • {{ page.meta }}{% endif %}
        •
        {% for category in page.tags %}<span><a href="{{ site.baseurl }}category/#{{ category }}" class="reserved">{{ category }}</a>{% if forloop.last != true %},{% endif %}</span>{% endfor %}
    </p>
  </header>

  <article class="post-content">
  {{ content }}
  </article>

  {% include disqus.html %}

</div>
